<!-- note_create.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Create Note - Python 雲端筆記</title>
		<!--
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/note_create.css' %}">
	</head>
	<body>
		<h1>Create Note</h1>
		<div class="container">
			<form action="" method="POST">
				<p>Title: <input name="title" type="text" /></p>
				<p>Tags: <input name="tags" type="text" placeholder="tagA,tagB,tagC" /></p>
				<p><textarea name="content"></textarea></p>
				<input name="username" type="hidden" value="{{ username }}" />
				<input type="submit" value="儲存文章" />
			</form>
		</div>
	</body>
	<script></script>
</html>


