<!-- note.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Note - Python 雲端筆記</title>
		<!--
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/note.css' %}">
	</head>
	<body>
		<h1>Note</h1>
		<h2>Hello~ {{ username }}</h2>
		<a href="/logout/">
			<input type="button" value="登出" />
		</a>
		<div class="container">
			<div class="lcol">
				<ul>
					{% for note in note_list %}<li>
						<a href="{{ note.pk }}">{{ note.title }}</a>
					</li>{% endfor %}
				</ul>
			</div><div class="rcol">
				<div>
					<a href="/note/create/">
						<input type="button" value="+ Note" />
					</a>
					<a href="{{ this_note.text_edit }}">
						<input type="button" value="Edit this note" />
					</a>
					<a href="{{ this_note.text_delete }}">
						<input type="button" value="Delete!" />
					</a>
				</div>
				<div class="title">
					<h1>{{ this_note.title }}</h1>
				</div><div class="content">
					{{ this_note.content }}
				</div>
			</div>
		</div>
	</body>
	<script></script>
</html>

