<!-- note.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Note - Python 雲端筆記</title>
		<!--
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/note.css' %}">
	</head>
	<body>
		<h1>Note</h1>
		<h2>Hello~ {{ username }}</h2>
		<a href="/logout/">
			<input type="button" value="登出" />
		</a>
		<div class="container">
			<div class="lcol">

			</div><div class="mcol">
				<div class="title">
					{% for tag in result_list %}<br>
						<a href="/note/{{ tag.pk }}">{{ tag.title }}</a>
					</br>{% endfor %}
				</div><div class="content">
					{{ this_note.content }}
				</div>
			</div><div class="rcol">

			</div>
			<footer>
			</footer>
		</div>
	</body>
	<script></script>
</html>

